@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

:root {
  --primary-color: #3a4052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 15px;
}

#title {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 15px;
}

h2 {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#project-title {
  width: 100%;
}

h3 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.25rem;
  color: white;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url('./cover.jpg') no-repeat center center/cover;

}

.video-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.content {
  z-index: 10;
}

.between {
  text-align: center;
}
.images{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texts{
  padding: 10px;
}

.tools-img {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contacts {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.label-child {
  width: 100%;
  text-align: left;
}

#txt-msg {
  height: 7rem;
}

#full_name, #email_address {
  height: 1.5rem;
}

@media screen and (min-width: 992px){
  .images-order {
    order: 1;
  }
  .text-order {
    order: 0;
  }
  .images {
    width: 50%;
  }
  .texts {
    width: 50%;
  }
  .label-child {
    width: 50%;
  }
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  #title{
    font-weight: 400;
    font-size: 45px;

  }
  .images {
    width: 100%;
  }
  .texts {
    width: 100%;
  }
  .label-child {
  width: 100%;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
}

.video-container video {
  min-width: 100%;
  min-height: 100%; 
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  border: 1px white solid;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.7
}

.btn:hover {
  transform: scale(0.94);
}

#about {
  padding: 40px;
  text-align: center;
}
.sections {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tools-img img {
  width: 80px;
  height: auto;
  transition: all .2s ease-in-out;
}
.tools-img img:hover {
  transform: scale(1.2);
}

.images img {
  width: 100%;
  height: auto;
}

p {
  max-width: 600px;
  margin:auto;
}

#about h2 {
  margin: 30px 0;
  color: var(--primary-color);
}

#fb-logo {
  color: rgb(66, 103, 178);
  padding: 1rem;
}
#linkedin-logo {
  color: #0e76a8;
  padding: 1rem;
}

footer {
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

#profile-pic{
  border: 2px solid black;
  border-radius: 50%;
}
